<h1>Welcome Friends</h1>

<ul id="users">
    <li>Pete</li>
</ul>

<p>First Name</p>
<input type= 'text' id='first_name'/>
<br />
<p>Last Name</p>
<input type= 'text' id='last_name'/>
</br>
<button id="button">Submit</button>